body {
    margin: 20px 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    /* background-color: #F29F05; */
}

.principal {
    border: 2px solid #F29F05;
    border-radius: 10px;
    width: 50%;
    padding: 2%;
    margin-top: 20px;
    background-color: #F29F05;
    color: white;
    text-align: center;
    margin: auto
}

.principal h1{
    color: white;
}

.principal a {
    text-decoration: none;
    color: white;
}

.principal a:hover {
    color: #D74C11
}

.back {
    text-align: center;
    margin-top: 1%;
}

.btn {
    border: 2px solid #4EB4BF;
    background-color: #4EB4BF;
    padding: 1%;
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background-color: #D74C11;
    border: 2px solid #D74C11;
}

.btn a {
    text-decoration: none;
    color: white
}

.card {
    width: 48%;
    box-sizing: border-box;
    border: 1px solid #F29F05;
    border-radius: 10px;
    color: #4EB4BF;
    padding: 2%;
    margin-top: 4%;
    text-align: center;
}

.card2 {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #F29F05;
    border-radius: 10px;
    color: #4EB4BF;
    padding: 2%;
    margin-top: 4%;
    text-align: center;
}

.card2 p{
    text-align: justify;
}


.btn-container {
    text-align: center;
}

.card-button{
    height: 35px;
    background-color: #F29F05;
    border: 2px solid #F29F05;

}


.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; 
    margin: 0% 10%;
}

h1{
    margin-bottom: 3%;
    text-align: center;
    font-size: 40px;
    color: #F29F05;
}

h2{
    margin-top: 0px
}


.form{
    border: 1px solid #F29F05;
    border-radius: 5px;
    width: 50%;
    margin: auto; 
    padding: 2%;
}

form input{
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid #F29F05;
    margin: 3% 0%;
}

.form-container{
    border: 1px solid #F29F05;
    border-radius: 5px;
    width: 80%;
    margin: auto;
    padding: 2%;
    box-sizing: border-box;
    margin-bottom: 3%
}

select{
    border: 1px solid #F29F05;
}

select{
    width: 100%;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid black;
    margin: 3% 0%;
}

.label{
    margin-bottom: 3% 0%;
}

input, select, button:focus{
    outline: 0;
}

.mt{
    margin-top: 3%;
}

.container{
    width: 70%;
    margin: auto;
    box-sizing: border-box;
}

.btn-back{
    width: 100%;
}