<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar</title>
    <link rel="stylesheet" href="../../../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>

<body>
    <section class="container">
        <h1>EDITAR CATEGORIA</h1>
        <form class="form-container" method="POST" action="/categories/update">
            <label>Novo título</label>
            <input type="text" placeholder="título" name="title" value="<%= category.title %>">
            <input type="hidden" name="id" value="<%= category.id %>">
            <button class="btn">Editar</button>
        </form>

        <button class="btn btn-back"><a href="/admin/categories">Voltar</a></button>
    </section>
</body>

</html>